<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998036986750-hp8gp9m91gsc9khqrpbkg6jjdqb14o5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998036986750-hp8gp9m91gsc9khqrpbkg6jjdqb14o5b</string>
	<key>API_KEY</key>
	<string>AIzaSyBe8kRWX4Gj6ZS4ulXwrwLYdSYEk__0Ygk</string>
	<key>GCM_SENDER_ID</key>
	<string>998036986750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackatlon-148ef</string>
	<key>STORAGE_BUCKET</key>
	<string>hackatlon-148ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998036986750:ios:a016b1606b67ac7ae2b12f</string>
</dict>
</plist>